*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.exe
*.pdb
*.idb
*.ilk
*.old
*.crf
*.htm
*.build_log.htm
*~
*.o
*.obj
*.bak
*.dep
*.lib
*.a
*.i
*.d
*.dfinish
*.su

*.uvguix.*
*.uvgui.*

JLinkLog.txt

.idea
.vscode
.history
cmake-build-debug
*.lst
*.lnp